.site-header {
  background: #FFEAAA;
}

/* REVIEW: Float the main header to the left, to make room for the hamburger menu. */
.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

.icon-menu {
  float:right;
  font-size: 60px;
}

.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

/* TODO: Now add styles for how things should look on a larger screen:
         - Hide the hamburger.
         - Main should be all on one row, with padding spaced better for a larger screen.
         - Just, ya know, try to make it look good! */
/* @media only screen... */

@media (min-width:1024px) {
  .icon-menu {
    visibility: hidden;
  }

  .clearfix {
    display: inline-block;
    width:30%;
    padding: 1%;
  }

  .site-header {
    width: 100%;
  }

  .heading-group-h1 {
    position: relative;
    left:600px;
  }

  #about {
    position: relative;
    left: 600px;
  }

  footer {
    position: relative;
    left: 600px;
  }
}
